/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

a:focus {
    outline: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-title {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    color: rgb(255, 255, 255);
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
}

.relative {
    position: relative;
}

.padding-top-bottom-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-indicators {
    visibility: hidden;
}

.play-bg {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    a {
        background: #000 none repeat scroll 0 0;
        border-radius: 40px;
        left: 42%;
        padding: 25px;
        position: absolute;
        top: 44%;
    }
}

.selected {
    border: 4px solid blue;
}

.video-container {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    video {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.carousel-control {
    width: 7%;
}

.history {
    .head {
        background: #CCC;
        padding: 15px;

        h4 {
            margin: 0px;
        }
    }

    .empty {
        padding: 20px 5px;
        text-align: center;
    }

    ul {
        list-style: outside none none;
        padding: 0;

        li {
            border-bottom: 1px dotted #ccc;

            a {
                color: black;
                display: block;
                padding: 15px;
                text-decoration: none;
            }

            a:hover {
                color: #FFF;
                background: #4caf50;
            }

        }
    }
}
