<div class="history">
    <div class="head">
        <h4>
            History
            <button class="btn btn-danger pull-right" ng-click="clearHistory()"
                    style="margin-top: -7px;">Clear</button>
        </h4>
    </div>

    <div class="empty" ng-if="!history.length"> No History Found </div>

    <ul>
        <li ng-repeat="data in history">
            <a ui-sref="player({movie: data})" ng-click="closeModal()">{{data.title}}</a>
        </li>
    </ul>
</div>
