<toaster-container></toaster-container>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Accedo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ng-click="openHistoryModal()">History</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-cloak>
    <div ng-controller="VideoCtrl" ng-keydown="keyDown($event)">

        <uib-carousel class="hidden-xs hidden-sm" active="active" interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="group in groupedMovies track by $index" index="$index">
                <div class="col-xs-6 col-sm-3 padding-top-bottom-10" ng-repeat="movie in group.movies">
                    <div class="relative" ng-mouseover="movie.showPlay = true" ng-mouseleave="movie.showPlay = false"
                            ng-class="{'selected' : selectedMovieIndex == movie.index}"
                            ng-click="$root.selectedMovieIndex = movie.index">
                        <img ng-if="movie.images[0].url.length" ng-src="{{movie.images[0].url}}" width="100%">
                        <img ng-if="!movie.images[0].url.length" ng-src="/images/no-image.jpg" width="100%"><br>
                        <div class="play-bg" ng-show="movie.showPlay || (selectedMovieIndex == movie.index)">
                            <a ui-sref="player({movie: movie})">
                                <i class="fa fa-play fa-2x fa-inverse"></i>
                            </a>
                        </div>
                        <div class="movie-title">
                            {{movie.title}}
                        </div>
                    </div>
                </div>
            </uib-slide>
        </uib-carousel>

        <div class="col-xs-6 col-sm-3 padding-top-bottom-10 visible-xs visible-sm" ng-repeat="movie in movies">
            <div class="relative" ng-mouseover="movie.showPlay = true" ng-mouseleave="movie.showPlay = false"
                    ng-class="{'selected' : $index == selectedMovieIndex}"
                    ng-click="$root.selectedMovieIndex = $index">
                <img ng-if="movie.images[0].url.length" ng-src="{{movie.images[0].url}}" width="100%">
                <img ng-if="!movie.images[0].url.length" ng-src="/images/no-image.jpg" width="100%"><br>
                <div class="play-bg" ng-show="movie.showPlay || ($index == selectedMovieIndex)">
                    <a ui-sref="player({movie: movie})">
                        <i class="fa fa-play fa-2x fa-inverse"></i>
                    </a>
                </div>
                <div class="movie-title">
                    {{movie.title}}
                </div>
            </div>
        </div>
    </div>
</div>
