<div ng-controller="PlayerCtrl">
    <div class="video-container">
        <video poster="images/loading.gif" height="50%" controls autoplay>
            <source ng-src="{{url}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
